(test_on_board) qi-wu@qi-wu-ThinkBook-16-G8-IPH:~/Desktop/test_on_board$ python test_example.py /dev/ttyUSB1 
Serial port opened:  Serial<id=0x7f2d2f174250, open=True>(port='/dev/ttyUSB1', baudrate=19200, bytesize=8, parity='N', stopbits=1, timeout=0.5, xonxoff=False, rtscts=False, dsrdtr=False)
test_0
Result: 9 Target: 9 Accuracy: 1.0
test_1
Result: 2 Target: 2 Accuracy: 1.0
test_2
Result: 1 Target: 1 Accuracy: 1.0
test_3
Result: 3 Target: 3 Accuracy: 1.0
test_4
Result: 3 Target: 3 Accuracy: 1.0
test_5
Result: 4 Target: 4 Accuracy: 1.0
test_6
Result: 5 Target: 9 Accuracy: 0.8571428571428571
test_7
Result: 9 Target: 9 Accuracy: 0.875
test_8
Result: 6 Target: 6 Accuracy: 0.8888888888888888
test_9
Result: 9 Target: 9 Accuracy: 0.9
test_10
Result: 3 Target: 3 Accuracy: 0.9090909090909091
test_11
Result: 0 Target: 0 Accuracy: 0.9166666666666666
test_12
Result: 9 Target: 9 Accuracy: 0.9230769230769231
test_13
Result: 1 Target: 1 Accuracy: 0.9285714285714286
test_14
Result: 7 Target: 7 Accuracy: 0.9333333333333333
test_15
Result: 5 Target: 5 Accuracy: 0.9375
test_16
Result: 1 Target: 1 Accuracy: 0.9411764705882353
test_17
Result: 3 Target: 3 Accuracy: 0.9444444444444444
test_18
Result: 7 Target: 7 Accuracy: 0.9473684210526315
test_19
Result: 4 Target: 4 Accuracy: 0.95
test_20
Result: 2 Target: 2 Accuracy: 0.9523809523809523
test_21
Result: 1 Target: 1 Accuracy: 0.9545454545454546
test_22
Result: 3 Target: 3 Accuracy: 0.9565217391304348
test_23
Result: 4 Target: 4 Accuracy: 0.9583333333333334
test_24
Result: 0 Target: 0 Accuracy: 0.96
test_25
Result: 5 Target: 5 Accuracy: 0.9615384615384616
test_26
Result: 4 Target: 4 Accuracy: 0.9629629629629629
test_27
Result: 7 Target: 7 Accuracy: 0.9642857142857143
test_28
Result: 4 Target: 4 Accuracy: 0.9655172413793104
test_29
Result: 6 Target: 6 Accuracy: 0.9666666666666667
Final accuracy: 0.9666666666666667
